.footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  gap: 60px;
  background-color: black;
  color: #fafafa;
  padding-top: 80px;
  .footer-list {
    display: flex;
    justify-content: space-between;
    @media (max-width: 900px) {
      flex-direction: column;
      align-items: flex-start;
      margin: 0 auto;
      gap: 87px;
    }

    .footer-section-1 {
      display: flex;
      flex-direction: column;
      gap: 16px;
      @media (max-width: 1169px) {
        display: none;
      }
      .form {
        display: flex;
        flex-direction: column;
        gap: 24px;

        h3 {
          font-family: 'Inter', sans-serif;
          font-weight: 700;
          font-size: 24px;
          line-height: 24px;
          letter-spacing: 0.72px;
          @media (max-width: 1280px) {
            font-size: 21px;
          }
        }

        h4 {
          font-family: 'Poppins', sans-serif;
          font-weight: 500;
          font-size: 20px;
          line-height: 28px;
          @media (max-width: 1280px) {
            font-size: 17px;
          }
        }

        p {
          line-height: 24px;
          @media (max-width: 1280px) {
            font-size: 14px;
          }
        }
      }
      .input-wrapper {
        position: relative;
        input {
          width: 217px;
          box-sizing: border-box;
          padding: 12px 0 12px 16px;
          border: 1.5px solid #fafafa;
          border-radius: 4px;
          background-color: transparent;
          color: white;
          font-size: 16px;
          @media (max-width: 1280px) {
            width: 197px;
          }

          &::placeholder {
            font-size: 16px;
            line-height: 24px;
            color: #fafafa;
            opacity: 0.4;
            @media (max-width: 1280px) {
              font-size: 14px;
            }
          }
        }
        button {
          border: none;
          cursor: pointer;
          img {
            position: absolute;
            bottom: 50%;
            transform: translateY(50%);
            left: 175px;
            @media (max-width: 1280px) {
              left: 155px;
            }
          }
        }
      }
    }
    .footer-section-2 {
      display: flex;
      flex-direction: column;
      gap: 16px;
      .form {
        display: flex;
        flex-direction: column;
        gap: 24px;

        h3 {
          font-family: 'Inter', sans-serif;
          font-weight: 700;
          font-size: 24px;
          line-height: 24px;
          letter-spacing: 0.72px;
        }
        p {
          line-height: 24px;
          @media (max-width: 1280px) {
            font-size: 14px;
          }
        }
      }
      .input-wrapper {
        position: relative;
        input {
          width: 217px;
          box-sizing: border-box;
          padding: 12px 0 12px 16px;
          border: 1.5px solid #fafafa;
          border-radius: 4px;
          background-color: transparent;
          color: white;
          font-size: 16px;

          &::placeholder {
            font-size: 16px;
            line-height: 24px;
            color: #fafafa;
            opacity: 0.4;
          }
        }
        button {
          border: none;
          cursor: pointer;
          img {
            position: absolute;
            bottom: 50%;
            transform: translateY(50%);
            left: 175px;
          }
        }
      }
    }
    .footer-section {
      display: flex;
      flex-direction: column;
      gap: 24px;
      a {
        color: white;
        &:hover {
          color: gray;
        }
      }
      h3 {
        font-size: 20px;
        line-height: 28px;
        font-weight: 500;
        @media (max-width: 1280px) {
          font-size: 18px;
        }
      }
      .form {
        display: flex;
        flex-direction: column;
        gap: 16px;
        p {
          @media (max-width: 1280px) {
            font-size: 14px;
          }
        }
      }
    }
    .footer-section-5 {
      display: flex;
      flex-direction: column;
      gap: 24px;
      h3 {
        font-size: 20px;
        line-height: 28px;
        font-weight: 500;
      }
      .form {
        display: flex;
        flex-direction: column;
        gap: 8px;
        p {
          font-weight: 500;
          font-size: 12px;
          line-height: 18px;
          opacity: 0.7;
        }
        .download-app {
          display: flex;
          gap: 8px;
          .download-app-mobile {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            gap: 4px;
            @media (max-width: 485px) {
            }

            a {
              margin: 0;
              padding: 0;
              inline-size: 0;
            }
          }
        }
      }
      .social-media {
        display: flex;
        align-items: center;
        gap: 24px;
      }
    }
  }
  .footer-bottom {
    text-align: center;
    width: 100%;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    padding-bottom: 24px;
    padding-top: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    p {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 12px;
      font-size: 16px;
      line-height: 24px;
      opacity: 0.6;
      @media (max-width: 365px) {
        font-size: 12px;
        flex-direction: column-reverse;
      }
    }
  }
}